Завдання No1. Гіпотенуза
package namer;
public class Name {

          public static void main(String[] args){
              double a = 11; 
              double b = 10; 
              double c = Math.sqrt (a * a + b * b);
              System.out.println("Gipotenuza = "+c);
           }
}
Завдання No3. Поділ яблук - 1
package namer;

import java.io.*;

public class Name
{
public static void main(String[] args) {

	PrintWriter out = new PrintWriter(System.out);
	int a= 3;
	int b = 14;
	int c;
	c=b/a;
	out.println(c);
	
	out.flush();
}
}
}
