Завдання No1. Гіпотенуза
-----------------------------------------------------------------------
package namer;
public class Name {

          public static void main(String[] args){
              double a = 11; 
              double b = 10; 
              double c = Math.sqrt (a * a + b * b);
              System.out.println("Gipotenuza = "+c);
           }
}
-----------------------------------------------------------------------
ЗавданняNo3. Поділ яблук - 1
-----------------------------------------------------------------------
package namer;

import java.io.*;

public class Name
{
public static void main(String[] args) {

	PrintWriter out = new PrintWriter(System.out);
	int a= 3;
	int b = 14;
	int c;
	c=b/a;
	out.println(c);
	
	out.flush();
}
}
-----------------------------------------------------------------------
Завдання No4. Поділ яблук - 2
-----------------------------------------------------------------------
package namer;

import java.io.*;

public class Name
{
public static void main(String[] args) {

	PrintWriter out = new PrintWriter(System.out);
	int a= 3;
	int b = 14;
	int c;
	int k;
	c=b/a;
	k=b-a*c;
	out.println(k);
	
	out.flush();
}
}
-----------------------------------------------------------------------
Завдання No5. Остання цифра
-----------------------------------------------------------------------
package namer;

public class Name{

	public static void main(String[] args) {
		int a = 179;
		System.out.println( a % 10);
	}

	
}
-----------------------------------------------------------------------
Завдання No6. Число десятків двозначного числа
-----------------------------------------------------------------------
package namer;

public class Name{

	public static void main(String[] args) {
		int a = 42;
		System.out.println( a / 10 % 10);
	}

	
}
